.test-diagrams {
  position: relative;
}

.test-diagrams__yes,
.test-diagrams__no {
  position: absolute;
  font-size:30px;
  font-family: 'Formular-Bold', sans-serif;
}

.test-diagrams__yes {
  top: 0;
  right:0;
  color: #2a4dff;
  text-align: right;
}
.test-diagrams__no {
  bottom: 0;
  left: 0;
  color: #E627FE;
}

.test-diagrams svg {
  width: 100%;
}