.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 200px;
  height: 50px;
  border: 20px solid #E627FE;
  border-radius: 100px;
  line-height: 50px;
}

.chart figcaption .test-diagrams__yes {
  position: absolute;
  top: -36px;
  right: -50px;
  line-height: 1;
}

.chart figcaption .test-diagrams__no {
  position: absolute;
  bottom: -36px;
  left: -50px;
  line-height: 1;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #2a4dff;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}
/* 
.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
} */
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='53'] .outer {
  stroke-dashoffset: 250;
  -webkit-animation: show53 2s;
  animation: show53 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show53 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show53 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

/* END Keyframes for the initial animation */