.report-histograms {
  display: flex;
  gap: 30px;
  padding-top:30px;
}


@media screen and (min-width:768px) {

  .nowrap {
    white-space: nowrap;
  }
}

.report-histograms__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-small-bold {
  font-size: 25px;
  font-family: 'Formular-Bold', sans-serif;
}

.report-histograms__img{
  margin: 20px 0;
  margin-top: auto;
}

.arrow-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
}
.arrow-top::after {
  content: " ";
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url('../../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-top__visible {
  z-index: 100;
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
  transform: rotate(180deg);
}

small  {
  font-size: 13px;
  color:#758585;
  display: block;
  margin: 30px 0;
}


.report-top-line {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  padding: 5px;
  font-family: 'Formular-Light';
}
.d-none {
  display: none;
}
.report-top-line--section1 {
  display: none !important;
}

.report-top-line--section2 { background-color: #7F94FF;}
.report-top-line--section3 { background-color: #5571FF;}
.report-top-line--section4 { background-color: #2A4DDF;}

.bg-color-light-blue {
  background-color: #7F94FF;
}
.bg-color-blue {
  background-color: #5571FF;
}
/* .bg-color-dark-blue {
  background-color: #2A4DDF;
} */
.pr-sm-60px {
  padding-right: 60px
}
.mtb-sm-60px {
  margin-top: 60px;
  margin-bottom: 60px;
}
.item{
  border: 1px solid red;
}

@media screen and (max-width:768px) {
  .report-histograms {
    flex-direction: column;
  }
  .report-histograms__col {
    width: 100%;
    gap: 20px;
  }

  .pr-sm-60px {
    padding-right:0px
  }
  .mtb-sm-60px {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* //  test-diagrams */

  @keyframes render {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
  }
  

  /* .chart {
    min-width: 500px;
  } */
  
  .unit {
    fill: none;
    stroke-width: 0.5;
    cursor: pointer;
    
    animation-name: render;
    animation-duration: 1.5s;
    transition-property: all; 
    transition-duration: 1.5s;
  }
  
  
  .unit:nth-child(1) {
    stroke: #E627FE;
    stroke-dasharray:  100 0;
     stroke-dashoffset: 25;
  }
  
  .unit:nth-child(2) {
    stroke: #2A4EFE;
    stroke-dasharray: 50 50;
    stroke-dashoffset: 25;
  }
  
