.header {
    display: flex;
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 768px) {
    .header {
        font-size: 1.5rem;
        line-height: 1.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

