.report-persent {
  padding: 40px;
  color: #fff;
  display: flex;
  max-width: 300px;
  flex-direction: column;
}

.report-persent-77 {
  font-size: 200px;
  white-space: nowrap;
  min-width: 300px;
  position: relative;
  left: -17px;
}

.report-persent-text {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.report-persent-source {
  font-size: 15px;
  margin-top: 30px;
}

@media screen and (max-width:480px) {
  .report-persent-77 {
    font-size: 120px;
  }

  .report-persent-text {
    font-size: 20px;
  }
}